/*css*/

@font-face {
    font-family: "bangers";
    src: url("./sampler/assets/fonts/bangers-regular-webfont.woff") format("woff")
}
@font-face {
    font-family: "digitizer";
    src: url("./sampler/assets/fonts/digitizer.woff") format("woff");
}
html, body, svg{
	background: #000000;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh !important;
	overflow: hidden;
}
h1, noscript{
	position: absolute;
	left: 250px;
	top: 300px;
	font-family: 'bangers' , 'Arial Black', sans-serif;
	color: #FFFFFF;
}
text{
	user-select: none;
}
form > input{
	position: fixed;
	top: 50%;
	left: 40.3%;
} 


/* sampler */
	.sampler-text{
		fill: #ffffff;
		stroke:  #000000; 
		stroke-width: 0.04rem;
	}


	