/*css*/

@font-face {
    font-family: "bangers";
    src: url("./assets/fonts/bangers-regular-webfont.woff") format("woff")
}
@font-face {
    font-family: "digitizer";
    src: url("./assets/fonts/digitizer.woff") format("woff");
}
html, body{
	background: #000000;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh !important;
	overflow: hidden;
}
h1, noscript{
	position: absolute;
	left: 250px;
	top: 300px;
	font-family: 'bangers' , 'Arial Black', sans-serif;
	color: #FFFFFF;
}
